body{
  background-color:  #ECE9E5;;
  margin:0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
}
.App{
  display: grid;
  gap:8px;
  height: 100vh;
  grid-template-columns: 160px 2fr 412px 160px;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: 
    "progress progress progress progress"
    " . ct pr . "
    "foot foot foot foot";
}

.details-container{
  margin-top:52px;
  grid-area: ct;
}

.payments-container{
  grid-area: ct;
}

.declaration-container{
  grid-area: ct;
}

.progress-bar-container{
  grid-area: progress;
}

.footer{
  position: sticky;
  top: 0;
  grid-area: foot;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 24px;
  background-color: #FFFFFF;
  ;
}

.form-preview{
  grid-area: pr;
  padding:20px;
}

.error{
  color: #E06358;
}

