.confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    width: 928px;
    height: 238px;
    margin-left: 256px;
    border-radius: 10px;
}
.eachComponent{
    display: flex;
    gap: 100px;
    align-self: stretch;
    align-items: center;
    
}